{% extends "layout.html" %}
{% block body %}
<div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About</a></li>
    </ul>
    <h3 class="text-muted">BBC Radio to Spotify</h3>
</div>
<div class="jumbotron">
    <h1>BBC Radio to Spotify</h1>
    <h2>Turn the playlist from a BBC radio show into a Spotify playlist.</h2>
    <br>
    <p>This web application was built using <a href="http://www.python.org/">Python</a>, <a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>, <a href="https://developer.spotify.com/technologies/web-api/">Spotify Metadata API</a>, <a href="http://webapp-improved.appspot.com/">webapp2</a>, <a href="http://jinja.pocoo.org/docs/">Jinja2</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="https://developers.google.com/appengine/">Google App Engine</a>.
    <br><br>
    <p>By Kamal Daniels</p>
</div>
{% endblock %}